$primary-color: #0B4464;
$secondary-color: #40A197;

p{
  font-size: 16px;
  text-align: justify;
}

ion-title{
  h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif !important;
  }
}

ion-icon{
  padding-right: 10px;
}

a{
  color: $secondary-color;
}

ion-navbar{
  text-align: center;
}

#img-container{
  text-align: center;
}

#circular-title-pic{
  display:inline-block;
  width: 100px;
  height: auto;
}

#banner_img{
  width: 100%;
  height: auto;
}

#nav_img{
  height: 55px;
}
